In [2]:
import numpy as np
import pandas as pd
from pymysql import *
from tqdm import tqdm_notebook as tqdm
host_name = '10.2.1.170'
port_name = 5506
user_name = 'ai_account'
psw = 'qvufj2nj'

In [3]:
import datetime
import time
datetime.date.today()

datetime.date(2019, 4, 9)

In [4]:
orgin_date = datetime.datetime.strptime("2018-01-01 00:00","%Y-%m-%d %H:%M")
orgin_date

datetime.datetime(2018, 1, 1, 0, 0)

In [5]:
orgin_date.strftime("%Y-%m-%d %H:%M:%S")

'2018-01-01 00:00:00'

In [6]:
orgin_date+datetime.timedelta(days=10)

datetime.datetime(2018, 1, 11, 0, 0)

In [7]:
conn=connect(host = host_name,port = port_name,user = user_name, password = psw,charset = 'utf8',database = 'db_iboss2')
cs1 = conn.cursor()
#     sql = "SELECT db_iboss2.uc_customer_record.table_id,db_iboss2.uc_customer_record.create_time,db_iboss2.sys_user_info.login_name,db_iboss2.sys_org_main.name,db_iboss2.cms_tree_book.name FROM db_iboss2.uc_customer_record,db_iboss2.sys_user_info,db_iboss2.sys_org_main,db_iboss2.cms_tree_book WHERE db_iboss2.uc_customer_record.remark_type = db_iboss2.cms_tree_book.code AND db_iboss2.cms_tree_book.name LIKE '%跟进%' AND db_iboss2.cms_tree_book.pcode = 'BUS_OPERATE' AND db_iboss2.sys_user_info.id = db_iboss2.uc_customer_record.from_user_id AND db_iboss2.sys_org_main.id = db_iboss2.sys_user_info.org_id AND db_iboss2.sys_org_main.name LIKE '%融资%' AND "
#     sql = sql + "db_iboss2.uc_customer_record.create_time > '2019-03-10 00:00:00' And db_iboss2.uc_customer_record.create_time < '2019-03-10 23:59:59';"
result = []
columns = ['table_id','create_time','creater_name','remark_type','content']
for i in tqdm(range(365)):
    current_date = orgin_date+datetime.timedelta(days=i)
    current_date = current_date.strftime("%Y-%m-%d")
    print(current_date)
#         sql = "SELECT * FROM `uc_customer_record` WHERE create_time>'%s 00:00:00' AND create_time<'%s 23:59:59' AND remark_type='BUS_3';" % (current_date, current_date)
    sql = "SELECT db_iboss2.uc_customer_record.table_id,db_iboss2.uc_customer_record.create_time,db_iboss2.uc_customer_record.creater_name,db_iboss2.uc_customer_record.remark_type,db_iboss2.uc_customer_record.content FROM db_iboss2.uc_customer_record,(SELECT id,type_code FROM `bus_business` WHERE type_code LIKE 'BUS_YT_DK%%')b WHERE db_iboss2.uc_customer_record.remark_type = 'BUS_3'  AND db_iboss2.uc_customer_record.table_id = b.id AND db_iboss2.uc_customer_record.create_time > '%s 00:00:00' AND db_iboss2.uc_customer_record.create_time < '%s 23:59:59';" % (current_date, current_date)
    count = cs1.execute(sql)
    print(count)
    result = result + [list(column_set) for column_set in list(cs1.fetchall())]
    if i % 20==0:
        df = pd.DataFrame(result, index=list(range(len(result))), columns=columns)
        print(df.shape)
        df.to_csv('跟进记录.csv', mode='a', header=False)
        del(df)
        result = []
        
if len(result) > 0:
    df = pd.DataFrame(result, index=list(range(len(result))), columns=columns)
    print(df.shape)
    df.to_csv('跟进记录.csv', mode='a', header=False)
    del(df)
    result = []

cs1.close()
conn.close()

HBox(children=(IntProgress(value=0, max=365), HTML(value='')))

2018-01-01
0
(0, 5)
2018-01-02
0
2018-01-03
0
2018-01-04
0
2018-01-05
0
2018-01-06
0
2018-01-07
0
2018-01-08
0
2018-01-09
0
2018-01-10
0
2018-01-11
0
2018-01-12
0
2018-01-13
0
2018-01-14
0
2018-01-15
0
2018-01-16
0
2018-01-17
0
2018-01-18
0
2018-01-19
0
2018-01-20
0
2018-01-21
0
(0, 5)
2018-01-22
0
2018-01-23
0
2018-01-24
0
2018-01-25
0
2018-01-26
0
2018-01-27
0
2018-01-28
0
2018-01-29
0
2018-01-30
0
2018-01-31
0
2018-02-01
0
2018-02-02
0
2018-02-03
0
2018-02-04
0
2018-02-05
0
2018-02-06
0
2018-02-07
0
2018-02-08
0
2018-02-09
0
2018-02-10
0
(0, 5)
2018-02-11
0
2018-02-12
0
2018-02-13
0
2018-02-14
0
2018-02-15
0
2018-02-16
0
2018-02-17
0
2018-02-18
0
2018-02-19
0
2018-02-20
0
2018-02-21
0
2018-02-22
0
2018-02-23
0
2018-02-24
0
2018-02-25
0
2018-02-26
0
2018-02-27
0
2018-02-28
0
2018-03-01
0
2018-03-02
0
(0, 5)
2018-03-03
0
2018-03-04
0
2018-03-05
0
2018-03-06
0
2018-03-07
0
2018-03-08
0
2018-03-09
0
2018-03-10
0
2018-03-11
0
2018-03-12
0
2018-03-13
0
2018-03-14
0
2018-03-15
0
2018-03-16
0
2018-03-17
0
2018-03-18
0
2018-03-19
0
2018-03-20
0
2018-03-21
0
2018-03-22
0
(0, 5)
2018-03-23
0
2018-03-24
0
2018-03-25
0
2018-03-26
0
2018-03-27
0
2018-03-28
0
2018-03-29
0
2018-03-30
0
2018-03-31
0
2018-04-01
0
2018-04-02
0
2018-04-03
0
2018-04-04
0
2018-04-05
0
2018-04-06
0
2018-04-07
0
2018-04-08
0
2018-04-09
0
2018-04-10
0
2018-04-11
0
(0, 5)
2018-04-12
0
2018-04-13
0
2018-04-14
0
2018-04-15
0
2018-04-16
0
2018-04-17
0
2018-04-18
0
2018-04-19
0
2018-04-20
0
2018-04-21
0
2018-04-22
0
2018-04-23
0
2018-04-24
0
2018-04-25
0
2018-04-26
0
2018-04-27
0
2018-04-28
0
2018-04-29
0
2018-04-30
0
2018-05-01
0
(0, 5)
2018-05-02
0
2018-05-03
0
2018-05-04
0
2018-05-05
0
2018-05-06
0
2018-05-07
0
2018-05-08
0
2018-05-09
0
2018-05-10
0
2018-05-11
0
2018-05-12
0
2018-05-13
0
2018-05-14
0
2018-05-15
0
2018-05-16
0
2018-05-17
0
2018-05-18
0
2018-05-19
0
2018-05-20
0
2018-05-21
0
(0, 5)
2018-05-22
0
2018-05-23
0
2018-05-24
0
2018-05-25
0
2018-05-26
0
2018-05-27
0
2018-05-28
0
2018-05-29
0
2018-05-30
0
2018-05-31
0
2018-06-01
0
2018-06-02
0
2018-06-03
0
2018-06-04
0
2018-06-05
0
2018-06-06
0
2018-06-07
0
2018-06-08
0
2018-06-09
0
2018-06-10
0
(0, 5)
2018-06-11
0
2018-06-12
0
2018-06-13
0
2018-06-14
0
2018-06-15
0
2018-06-16
0
2018-06-17
0
2018-06-18
0
2018-06-19
0
2018-06-20
0
2018-06-21
0
2018-06-22
0
2018-06-23
0
2018-06-24
0
2018-06-25
0
2018-06-26
0
2018-06-27
0
2018-06-28
0
2018-06-29
0
2018-06-30
0
(0, 5)
2018-07-01
0
2018-07-02
0
2018-07-03
0
2018-07-04
0
2018-07-05
0
2018-07-06
0
2018-07-07
0
2018-07-08
0
2018-07-09
0
2018-07-10
0
2018-07-11
0
2018-07-12
0
2018-07-13
0
2018-07-14
0
2018-07-15
0
2018-07-16
0
2018-07-17
0
2018-07-18
0
2018-07-19
0
2018-07-20
0
(0, 5)
2018-07-21
0
2018-07-22
0
2018-07-23
0
2018-07-24
0
2018-07-25
0
2018-07-26
0
2018-07-27
0
2018-07-28
0
2018-07-29
0
2018-07-30
0
2018-07-31
0
2018-08-01
0
2018-08-02
0
2018-08-03
0
2018-08-04
0
2018-08-05
0
2018-08-06
0
2018-08-07
0
2018-08-08
0
2018-08-09
0
(0, 5)
2018-08-10
0
2018-08-11
0
2018-08-12
0
2018-08-13
0
2018-08-14
0
2018-08-15
0
2018-08-16
0
2018-08-17
0
2018-08-18
0
2018-08-19
0
2018-08-20
0
2018-08-21
0
2018-08-22
0
2018-08-23
0
2018-08-24
0
2018-08-25
0
2018-08-26
0
2018-08-27
0
2018-08-28
0
2018-08-29
0
(0, 5)
2018-08-30
0
2018-08-31
0
2018-09-01
0
2018-09-02
0
2018-09-03
0
2018-09-04
0
2018-09-05
0
2018-09-06
0
2018-09-07
0
2018-09-08
0
2018-09-09
0
2018-09-10
0
2018-09-11
0
2018-09-12
0
2018-09-13
0
2018-09-14
0
2018-09-15
0
2018-09-16
0
2018-09-17
0
2018-09-18
0
(0, 5)
2018-09-19
0
2018-09-20
0
2018-09-21
0
2018-09-22
0
2018-09-23
0
2018-09-24
0
2018-09-25
0
2018-09-26
0
2018-09-27
0
2018-09-28
0
2018-09-29
0
2018-09-30
0
2018-10-01
0
2018-10-02
0
2018-10-03
0
2018-10-04
0
2018-10-05
0
2018-10-06
0
2018-10-07
0
2018-10-08
0
(0, 5)
2018-10-09
0
2018-10-10
0
2018-10-11
0
2018-10-12
0
2018-10-13
0
2018-10-14
0
2018-10-15
0
2018-10-16
9
2018-10-17
8
2018-10-18
9
2018-10-19
8
2018-10-20
1
2018-10-21
0
2018-10-22
34
2018-10-23
23
2018-10-24
21
2018-10-25
11
2018-10-26
11
2018-10-27
0
2018-10-28
4
(139, 5)
2018-10-29
10
2018-10-30
8
2018-10-31
8
2018-11-01
20
2018-11-02
8
2018-11-03
0
2018-11-04
0
2018-11-05
6
2018-11-06
14
2018-11-07
16
2018-11-08
18
2018-11-09
3
2018-11-10
0
2018-11-11
0
2018-11-12
0
2018-11-13
0
2018-11-14
6
2018-11-15
6
2018-11-16
7
2018-11-17
0
(130, 5)
2018-11-18
0
2018-11-19
5
2018-11-20
9
2018-11-21
11
2018-11-22
10
2018-11-23
15
2018-11-24
0
2018-11-25
0
2018-11-26
8
2018-11-27
9
2018-11-28
11
2018-11-29
10
2018-11-30
7
2018-12-01
4499
2018-12-02
5331
2018-12-03
37481
2018-12-04
41821
2018-12-05
42734
2018-12-06
44676
2018-12-07
37633
(214270, 5)
2018-12-08
6014
2018-12-09
6987
2018-12-10
43825
2018-12-11
49308
2018-12-12
39293
2018-12-13
48334
2018-12-14
38654
2018-12-15
5637
2018-12-16
7180
2018-12-17
46322
2018-12-18
46830
2018-12-19
47893
2018-12-20
43098
2018-12-21
38281
2018-12-22
5566
2018-12-23
6122
2018-12-24
42063
2018-12-25
45271
2018-12-26
46456
2018-12-27
48555
(661689, 5)
2018-12-28
44320
2018-12-29
36631
2018-12-30
2151
2018-12-31
2975

(86077, 5)

In [8]:
def table_from_mysql(database_name,table_name):
    conn=connect(host = host_name,port = port_name,user = user_name, password = psw,charset = 'utf8',database = database_name)
    cs1 = conn.cursor()
#     sql = "SELECT db_iboss2.uc_customer_record.table_id,db_iboss2.uc_customer_record.create_time,db_iboss2.sys_user_info.login_name,db_iboss2.sys_org_main.name,db_iboss2.cms_tree_book.name FROM db_iboss2.uc_customer_record,db_iboss2.sys_user_info,db_iboss2.sys_org_main,db_iboss2.cms_tree_book WHERE db_iboss2.uc_customer_record.remark_type = db_iboss2.cms_tree_book.code AND db_iboss2.cms_tree_book.name LIKE '%跟进%' AND db_iboss2.cms_tree_book.pcode = 'BUS_OPERATE' AND db_iboss2.sys_user_info.id = db_iboss2.uc_customer_record.from_user_id AND db_iboss2.sys_org_main.id = db_iboss2.sys_user_info.org_id AND db_iboss2.sys_org_main.name LIKE '%融资%' AND "
#     sql = sql + "db_iboss2.uc_customer_record.create_time > '2019-03-10 00:00:00' And db_iboss2.uc_customer_record.create_time < '2019-03-10 23:59:59';"
    result = []
    columns = ['table_id','create_time','creater_name','remark_type','content']
    for i in tqdm(range(100)):
        current_date = orgin_date+datetime.timedelta(days=i)
        current_date = current_date.strftime("%Y-%m-%d")
        print(current_date)
#         sql = "SELECT * FROM `uc_customer_record` WHERE create_time>'%s 00:00:00' AND create_time<'%s 23:59:59' AND remark_type='BUS_3';" % (current_date, current_date)
        sql = "SELECT db_iboss2.uc_customer_record.table_id,db_iboss2.uc_customer_record.create_time,db_iboss2.uc_customer_record.creater_name,db_iboss2.uc_customer_record.remark_type,db_iboss2.uc_customer_record.content FROM db_iboss2.uc_customer_record,(SELECT id,type_code FROM `bus_business` WHERE type_code LIKE 'BUS_YT_DK%') b WHERE db_iboss2.uc_customer_record.remark_type = 'BUS_3' AND b.type_code  LIKE 'BUS_YT_DK%' AND db_iboss2.uc_customer_record.table_id = b.id AND db_iboss2.uc_customer_record.create_time > '%s 00:00:00' AND db_iboss2.uc_customer_record.create_time < '%s 23:59:59';" % (current_date, current_date)
        count = cs1.execute(sql)
        result = result + [list(column_set) for column_set in list(cs1.fetchall())]
        if i % 100 == 0:
            df = pd.DataFrame(result, index=list(range(len(result))), columns=columns)
            print(df.shape)
            df.to_csv('跟进记录.csv', mode='a', header=False)
            del(df)
            result = []

    cs1.close()
    conn.close()
    print("查询到%d条数据:" % len(result))
    return result

In [ ]:
with codecs.open('vaild_rsdq.txt','w',encoding='utf-8') as train_file:
    for i in tqdm(range(len(df))):
        label = df.iloc[i]['label']
        label = label.strip()
        content = df.iloc[i]['content']
        if isinstance(label,float) or isinstance(content,float):
            continue
        line = label +'\t'+content+'\n'
        train_file.write(line)

In [9]:
data = table_from_mysql('db_iboss2','uc_customer_record')
print(len(data))
print(data[-1])

HBox(children=(IntProgress(value=0), HTML(value='')))

2019-01-01

ValueError: unsupported format character ''' (0x27) at index 313

In [10]:
df = pd.DataFrame(data, index=list(range(len(data))), columns=columns)
print(df.shape)
df.tail()

(5038336, 41)

,id,create_time,creater_id,creater_org_id,creater_name,update_time,updater_id,updater_org_id,updater_name,source_flag,...,ext_9,ext_10,ext_11,ext_12,ext_13,ext_14,ext_15,upload_type,upload_time,upload_origin
5038331,7803508908855312384,2019-04-08 16:21:59,7786480441260695552,3809,杨佩101646,2019-04-08 16:21:59,None,None,None,None,...,,,重庆市,,,None,None,1,1554711720501,db_iboss_uc.uc_customer_record
5038332,7803508909549338624,2019-04-08 16:21:59,7799081561244229632,8753,周畅103705,2019-04-08 16:21:59,None,None,None,None,...,None,None,广东省,广州市,市辖区,None,None,1,1554711720512,db_iboss_uc.uc_customer_record
5038333,7803508911864594432,2019-04-08 16:22:00,7794858235598266368,3259,潘佳宁103274,2019-04-08 16:22:00,None,None,None,None,...,,,广东省,深圳市,,None,None,1,1554711720574,db_iboss_uc.uc_customer_record
5038334,7803508913250942976,2019-04-08 16:22:00,4045,975,王倩2103539,2019-04-08 16:22:00,None,None,None,None,...,None,None,四川省,成都市,武侯区,None,None,1,1554711720590,db_iboss_uc.uc_customer_record
5038335,7803508913603264512,2019-04-08 16:22:00,7789320491941027840,7746160962305843200,唐奎102199,2019-04-08 16:22:00,None,None,None,None,...,,,四川省,成都市,武侯区,None,None,1,1554711720628,db_iboss_uc.uc_customer_record

In [11]:
writer = pd.ExcelWriter('跟单记录1.1-4.8.xlsx')
df.to_excel(writer,'Sheet1')
writer.save()