In [2]:
import pandas as pd
import numpy as np
import pymysql

由于只有商机ｉｄ，所以需要用business_id关联商机库，获取customer_id，得到客户的历史上门

In [38]:
db = pymysql.connect(host = "10.2.1.170",port =5506,user = "ai_account",passwd="qvufj2nj",db="bi_behavior")
cursor = db.cursor()
sql1 = "select business_no,sys_type,user_no,user_name,status,status_name,type_code,cause,promissory_time\
        from bi_visit_detail"
# sql2 = "select business_no,sys_type,user_no,user_name,status,status_name,type_code,cause,promissory_time\
#         from bi_visit_detail where type_code like '%贷%'"
try:
    cursor.execute(sql1)
    results = cursor.fetchall()
    results_list =[]
    columns = ["business_id","sys_type","user_no","user_name","status","status_name","type_code",
              "cause","promissory_time"]
    for row in results:
        zipped = zip(columns,row) 
        dic ={}
        for zips in zipped:             
            dic[zips[0]] = zips[1]
            results_list.append(dic)
    #         print(dic)
    print(len(results_list))
    data1 = pd.DataFrame(data = results_list,columns=columns)
    data1 = data1.drop_duplicates()
    print(len(data1))
except:
    print("Error")
db.close()

786168
86428

In [34]:
print(len(data))
data.head()

24312

,business_id,sys_type,user_no,user_name,status,status_name,type_code,cause,promissory_time
0,SJ201812044213,cloud,952859647,陈秘,0,待到访,信用贷款,融资业务,2018-12-12 19:16:23
9,SJ201901180153,cloud,100214,赖维圣,0,待到访,信用贷款,融资业务,2019-01-23 14:30:00
18,SJ201812240227,cloud,49059146,郑先海,0,待到访,信用贷款,融资业务,2018-12-25 10:45:43
27,ZY2019022505185,cloud,919729941,彭仕琼,1,已到访,信用贷款,业务办理,2019-02-26 14:00:00
36,SJ201812241098,cloud,47696701,雷诚鑫,0,待到访,信用贷款,融资业务,2018-12-27 11:00:20

In [31]:
data.to_csv("融资商机历史上门.csv",sep=",",encoding="utf_8_sig",index=0)

In [39]:
print(len(data1))
data1.to_csv("所有商机历史上门.csv",sep=",",encoding="utf_8_sig",index=0)

86428

In [30]:
data["business_id"].groupby(data["business_id"]).count()

business_id
160329726          1
160406324          1
160408510          1
160504761          1
1605191210         2
160601420          1
160603079          1
160606951          1
160607024          1
160616999          1
160617529          1
160620356          2
160620580          1
160706213          1
160708262          1
DYDK150896         1
DYDK415294         1
DYDK781645         1
DYDK970863         1
GD1510260111       1
GD1511130437       1
GD1511180213       1
GD1601050462       1
GD1601070137       2
GD1601080535       1
SJ1611240864106    1
SJ1611245713308    1
SJ1611281914476    1
SJ1611287328542    2
SJ1611300060545    1
                  ..
ZY2019031000720    1
ZY2019031000729    1
ZY2019031000763    1
ZY2019031000766    1
ZY2019031000785    1
ZY2019031000898    1
ZY2019031000945    1
ZY2019031000947    1
ZY2019031000999    1
ZY2019031001121    1
ZY2019031001175    1
ZY2019031001308    1
ZY2019031001422    1
ZY2019031001423    1
ZY2019031001424    1
ZY2019031001478    1
ZY2019031001579    1
ZY2019031001596    2
ZY2019031001607    1
ZY2019031001615    1
ZY2019031001664    1
ZY2019031001697    1
ZY2019031001746    1
ZY2019031001752    1
ZY2019031001792    1
ZY2019031001809    1
ZY2019031001850    1
ZY2019031001931    1
ZY2019031002157    1
ZY2019031002355    1
Name: business_id, Length: 20390, dtype: int64

In [26]:
data["type_code"].value_counts()

信用贷款       20228
信贷小贷        2815
信贷小贷（禁）      579
抵押贷款         195
银行信贷         185
放大贷           88
车贷            74
网贷            55
银行信贷（禁）       23
经营贷           17
车贷（禁）         16
放大贷（禁）        14
网贷（禁）          9
小贷二抵（禁）        5
小贷一抵           4
经营贷（禁）         2
小贷二抵           2
小贷一抵（禁）        1
Name: type_code, dtype: int64

In [27]:
data["cause"].value_counts()

融资业务    17629
业务办理     6683
Name: cause, dtype: int64